<!-- competencias.html -->

{% extends 'portfolio/layout.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'portfolio/css/about-me-style.css' %}">
{% endblock %}

{% block main %}


    <div class="about-title">
        <h1>About me</h1>
    </div>
    <div class="about-text">
        <p> Hi, i'm a <span>Software Engineering Student</span> located in Lisbon, Portugal.<br>
        I have a passion for building things, especially software since i love everything related to technology.<br>I'm currently focusing on learning  as much
        as i can so in the future I can use my skills in the <span>Best Way Possible.</span></p>
    </div>

    <div class="header">
        <h1>My Skills</h1>
    </div>
	
    <div class="container">
        {% for competencia in competencias %}

        <div class="box">
            <div class="title">
                <div class="image">
                    {% load static %}
                    <img src="{{ competencia.image.url }}" width="150px">
                </div>
                <h3>{{ competencia.titulo }}</h3>
            </div>
        </div>

        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="edit_container">
            <button class="edit_button"> <a class="button-text" href="{% url 'portfolio:newSkill' %}">Edit skills</a></button>
        </div>
    {% endif %}


    
    <div class="cadeira_title">
        <h1>Cadeiras</h1>
    </div>

    <div class="cadeira_container">
        {% for cadeira in cadeiras %}

        <div class="cadeira_box">
            <div class="cadeira_info">
                <h1> {{ cadeira.nome }}</h1>
                <h2>{{ cadeira.ano }}</h2>
                <h3>{{ cadeira.semestre }} Semester</h3>
            </div>
        </div>

        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="edit_container">
            <button class="edit_button"> <a class="button-text" href="{% url 'portfolio:newCadeira' %}">Edit cadeira</a></button>
        </div>
    {% endif %}




    <div class="educacao_title">
        <h1>Education</h1>
    </div>

    <div class="educacao_container">
        {% for escola in escolas %}

        <div class="educacao_box">
            <div class="educacao_info">
                <h1> {{ escola.nome }}</h1>
                <h2>Start: {{ escola.ano_inicio }}</h2>
                <h3>Finish: {{ escola.ano_fim }}</h3>
            </div>
        </div>

        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="edit_container">
            <button class="edit_button"> <a class="button-text" href="{% url 'portfolio:newEducation' %}">Edit education</a></button>
        </div>
    {% endif %}




    <div class="lingua_title">
        <h1>Languages</h1>
    </div>

    <div class="lingua_container">
            {% for lingua in linguas %}

        <div class="lingua_box">
            <div class="lingua_info">
                <h1> {{ lingua.nome }}</h1>
                <h2>Level: {{ lingua.grau }}</h2>
            </div>
        </div>

        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="edit_container">
            <button class="edit_button"> <a class="button-text" href="{% url 'portfolio:newLanguage' %}">Edit languages</a></button>
        </div>
    {% endif %}



    <div class="hobby_title">
        <h1>Hobbies</h1>
    </div>

    <div class="hobby_container">
        {% for interesse in interesses %}

        <div class="hobby_box">
            <div class="hobby_info">
                <h1> {{ interesse.titulo }}</h1>
            </div>
        </div>

        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="edit_container">
            <button class="edit_button"> <a class="button-text" href="{% url 'portfolio:newHobby' %}">Edit Hobbies</a></button>
        </div>
    {% endif %}



{% endblock %}