<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>

    {% load static %}
    <script src="{% static 'portfolio/js/relogio.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <header>
        <div>
          <a href="{% url 'portfolio:apresentacao' %}" class="home-link">FG</a>
        </div>
        <nav>
          <a class="about" href="{% url 'portfolio:competencias' %}">About me</a>
          <a class="projects" href="{% url 'portfolio:projetos' %}">Projects</a>
          <a class="web" href="{% url 'portfolio:formacao' %}">Web</a>
          <a class="blog" href="{% url 'portfolio:blog' %}">Blog</a>
          <button class="contact"><a id='cbutton' href="{% url 'portfolio:contact' %}">Contact</a></button>
        </nav>
    </header>
      
    <main>
      {% block main %}
      {% endblock main %}
    </main>

    <footer>
      <div class="footer-text">
        ULHT 2022
      </div>
      <div class="clock">
        <span id="hours">00</span>
        <span>:</span>
        <span id="minutes">00</span>
        <span>:</span>
        <span id="seconds">00</span>
      </div>
      <div class="log-button">
        {% if request.user.is_authenticated %}
          <button class="lbutton"><a class="link" href="{% url 'portfolio:login' %}">Logout</a></button>
        {% else %}
          <button class="lbutton"><a class="link" href="{% url 'portfolio:login' %}">Login</a></button>
        {% endif %}
      </div>
    </footer>
</body>
</html>
    