:root {
    --background-color: #1c1d25;
    --primary-color: #DEB992;
    --primary-color-hover: #c49a6d;
    --gradient-color: 45deg, #1d73ff, #8a1aff;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
}

.about-title {
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 5rem;
    animation: transition 3s;
}

.about-text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    animation: transition 4s;
}

.about-text span {
    background: linear-gradient(45deg, #1d73ff 10%, #8a1aff 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header {
    text-align: center;
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1rem;
    margin-top: 5rem;
    animation: transition 5s;
}

/* Skills */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
}

.box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.2);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Cadeiras */

.cadeira_title {
    text-align: center;
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1rem;
    animation: transition 5s;
    margin-top: 5rem;
}

.cadeira_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
    margin-left: 15rem;
    margin-right: 15rem;
}

.cadeira_box {
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.cadeira_box:hover {
    transform: scale(1.1);
}

/* Educacao */

.educacao_title {
    text-align: center;
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1rem;
    margin-top: 5rem;
    animation: transition 5s;
}

.educacao_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
    margin-left: 15rem;
    margin-right: 15rem;
    gap: 4rem;
}

.educacao_box {
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.educacao_box:hover {
    transform: scale(1.1);
}

/* Linguas */

.lingua_title {
    text-align: center;
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1rem;
    margin-top: 5rem;
    animation: transition 5s;
}

.lingua_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
    margin-left: 15rem;
    margin-right: 15rem;
    gap: 4rem;
}

.lingua_box {
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.lingua_box:hover {
    transform: scale(1.1);
}

/* Hobbies */

.hobby_title {
    text-align: center;
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1rem;
    margin-top: 5rem;
    animation: transition 5s;
}

.hobby_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
    margin-left: 15rem;
    margin-right: 15rem;
}

.hobby_box {
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.hobby_box:hover {
    transform: scale(1.1);
}

.edit_container {
    text-align: center;
    animation: transition 5s;
}

.edit_button {
    color: white;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    background: linear-gradient(45deg, #1d73ff 5%, #8a1aff 95%);
}

.button-text {
    color: white;
    text-decoration: none;
}