:root {
    --background-color: #1c1d25;
    --primary-color: #DEB992;
    --primary-color-hover: #c49a6d;
    --gradient-color: 45deg, #1d73ff, #8a1aff;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;

    min-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background: #1c1d25;
    color: white;
    top: 0;

    /* alinhando logo e menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header div {
    font-size: 3em;
    padding: 1em;
    align-items: flex-start;
    color: #6aeeb5;
}

.home-link {
    text-decoration: none;
    color: #DEB992;
    animation: transition 2s;
    transition: all 200ms ease-in;
}

.home-link:hover {
    opacity: 80%;
}

header nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    animation: transition 3s;
}


nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    transition: all 200ms ease-in;
}

nav a:hover {
    color: #DEB992;
}

nav button {
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    background: #DEB992;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

nav button:hover {
    background: #c49a6d;
}


main {
    height: 85vh;
    background-color: #1c1d25;
    padding: 4em 4em;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--background-color);
}