:root {
    --background-color: #1c1d25;
    --primary-color: #6aeeb5;
    --primary-color-hover: #29e6a7;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
}


.projects-title {
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    padding: 1em;
}

.project-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 1rem 80px;
}

.project-box {
    padding: 1rem;
}

.box-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 00.5rem;
    color: white;
}

.project-image {
    width: 100px;
}