:root {
    --background-color: #1c1d25;
    --primary-color: #6aeeb5;
    --primary-color-hover: #29e6a7;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
    background: #1c1d25;
}


.projects-title {
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    padding: 1em;
    animation: transition 6s;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    animation: transition 6s;
}

.box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.2);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


.tfc-title {
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    padding: 1em;
    animation: transition 6s;
}


.edit_container {
    text-align: center;
    animation: transition 5s;
}

.edit_button {
    color: white;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    background: linear-gradient(45deg, #1d73ff 5%, #8a1aff 95%);
}

.button-text {
    color: white;
    text-decoration: none;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal::backdrop {
    background: black;
    opacity: .6;
}

.link {
    color: grey;
}

.close {
    color: white;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    background: linear-gradient(45deg, #1d73ff 5%, #8a1aff 95%);
}