@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
}

.title:first-child {
    font-size: 3em;
}

.title {
    background: linear-gradient(45deg, #1d73ff 45%, #8a1aff 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 5rem;
    animation: transition 3s;
}

.tech-container {
    display: flex;
    flex-direction: row;
    margin-left: 300;
    margin-right: 200;
    align-items: center;
    margin-bottom: 20px;
    animation: transition 6s;
}

img {
    width: 260;
}

.tech-text {
    color: white;
    padding-left: 20px;
}

.button-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-button {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
    background: linear-gradient(45deg, #1d73ff 10%, #8a1aff 90%);
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.quizz-button:hover {
    transform: scale(1.05);
    border-radius: 20px;
}

.button-text {
    text-decoration: none;
    color: white;
}